[Default]

# Current values excepted are
# brecca
# edda
# wexstan
# wembley-hp
# karros
#tango-dual
machine_name = brecca

# Where The PBS accounting logs are stored with trailing slash
# eg. /usr/spool/PBS/server_priv/accounting/

#logs_dir = /home/sam/logs/
logs_dir = /usr/spool/PBS/server_priv/accounting/


db_host = db.vpac.org
db_user = accounts_old
db_passwd = JAxE5x4GBMeS7s
db_name = accounts
